.sidebar {
    position: fixed;
    top: 6vh; /* 留出 Navbar 高度 */
    left: 0;
    height: calc(100vh - 6vh);
    width: 200px;
    border-right: 1px solid #ddd;
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar-header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.logo {
  font-size: 24px;
}

.toggle-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.2s;
}

.menu-item:hover {
  background-color: #e6e6e6;
  border-radius: 8px;
}

.menu-item .label {
  margin-left: 16px;
  white-space: nowrap;
}

.sidebar.collapsed .menu-item {
  justify-content: center;
}

.sidebar.collapsed .menu-item .label {
  display: none;
}
